@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: .625em;
  /* fallback IE8+ */
  font-size: calc(1em *.625);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, * :before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: 1.6em;
  /* base font-size is equivalent “16px” */
  line-height: 1.5; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img, object, embed, canvas, video, audio, picture {
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

input::-ms-clear {
  width: 0;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

html {
  font-size: 10px; }

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #333333;
  line-height: 1.5625;
  min-height: 100vh; }

a {
  color: #333333; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

#top {
  background-color: #0098d2; }
  #top .container-fluid {
    margin: 0 auto;
    padding: 0; }
    #top .container-fluid .headtop {
      padding-top: 25px;
      padding-bottom: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.titre {
  margin-left: 40px; }

.logo img {
  width: 11rem;
  margin-top: 20px;
  margin-left: 100px; }

.mrgn {
  margin: 0 14.2rem; }

header {
  z-index: 1;
  font-family: 'Bitter', Arial, Helvetica, sans-serif;
  color: #FFF; }
  header .acteur-titre {
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 4.6rem;
    margin-top: 38px;
    margin-bottom: 10px; }
  header .acteur-soustitre {
    color: #333333;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 2.2rem;
    margin-bottom: 12px; }

.titre-page {
  text-align: center; }

.tac {
  text-align: center; }

h1 {
  display: inline-block;
  position: relative; }
  h1::after {
    content: "";
    position: absolute;
    background-color: rgba(65, 109, 189, 0.8);
    width: 40%;
    min-width: 80px;
    max-width: 200px;
    height: 2px;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%) scaleX(1);
    -ms-transform: translate(-50%) scaleX(1);
    transform: translate(-50%) scaleX(1);
    -webkit-animation-name: load;
    animation-name: load;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

nav .menu-item-home:hover {
  background-color: transparent !important; }

nav .menu-item-home a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-filter: brightness(0.4);
  filter: brightness(0.4); }

nav .menu-item-home a {
  font: 0/0 a !important;
  color: transparent !important;
  display: block !important;
  padding: 0 !important;
  width: 22px;
  height: 21px;
  background-image: url(../svg/home.svg);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navbar {
  height: 100%; }

.navbar li a {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 20.5px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 3px 3px 0px 0px; }
  .navbar li a:before {
    display: none; }
  .navbar li a:after {
    content: '';
    width: 0%;
    margin-left: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    bottom: 13px;
    border-radius: 40%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    transition: all 0.5s; }
  .navbar li a:hover:after {
    background-color: #FFF;
    width: 60%;
    margin-left: 20%;
    -webkit-box-shadow: 0px 0px 10px #FFF;
    box-shadow: 0px 0px 10px #FFF; }

.navbar li {
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  list-style-type: none;
  margin-left: 18px; }

.navbar li ul {
  position: absolute;
  top: 100%;
  background-color: #33abe0;
  width: 300px;
  max-width: 350px;
  left: -45px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s .1s;
  -o-transition: .3s .1s;
  transition: .3s .1s;
  z-index: 1000;
  border: 1px solid #33abe0;
  border-radius: 0 0 3px 3px;
  border-top: none; }

.navbar li ul li {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-left: 0; }

.navbar li ul li:last-child {
  border-bottom: none; }

.mrgn {
  height: 100%; }

.navbar > li:hover > ul,
.navbar > li:focus-within > ul,
.navbar > li ul:hover {
  opacity: 1;
  visibility: visible; }

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.navbar li:hover li:hover {
  background-color: #0098d2; }

.navbar li ul a {
  color: #444;
  padding: 16px;
  font-size: 1.6rem;
  line-height: 1.6rem; }
  .navbar li ul a:hover {
    color: #FFF; }
  .navbar li ul a:after {
    display: none; }

.mrba {
  margin-bottom: auto; }

@-webkit-keyframes load {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%) scaleX(5);
    transform: translate(-50%) scaleX(5); }
  to {
    -webkit-transform: translate(-50%) scaleX(1);
    transform: translate(-50%) scaleX(1); } }

@keyframes load {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%) scaleX(5);
    transform: translate(-50%) scaleX(5); }
  to {
    -webkit-transform: translate(-50%) scaleX(1);
    transform: translate(-50%) scaleX(1); } }

footer {
  background-color: #0585bc;
  padding-top: 30px;
  padding-bottom: 30px; }
  footer p {
    font-size: 1.8rem;
    font-weight: 700;
    color: #FFFFFF; }
  footer .colleft {
    padding-left: 80px; }
  footer .colright {
    padding-right: 80px; }
    footer .colright span {
      color: #FFF;
      margin-left: 40px; }
    footer .colright p {
      margin-left: 40px; }

.annuaire hr {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid rgba(103, 103, 103, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s; }

main {
  margin-bottom: 150px; }

.navbar li a:after {
  content: '';
  width: 0%;
  margin-left: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  bottom: 13px;
  border-radius: 40%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  transition: all 0.5s; }

.navbar li a:hover:after {
  background-color: #FFF;
  width: 60%;
  margin-left: 20%;
  -webkit-box-shadow: 0px 0px 10px #FFF;
  box-shadow: 0px 0px 10px #FFF; }

.search-bar {
  position: absolute;
  width: 0;
  height: 40px;
  background: #FFF;
  right: 20px;
  top: 10;
  border-radius: 5px;
  -webkit-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out; }
  .search-bar.active {
    width: 250px;
    z-index: 1; }
  .search-bar input {
    background: transparent;
    outline: 0;
    border: 0;
    width: 100%;
    height: 100%;
    color: #2D374D;
    font-size: 1.8rem;
    line-height: 1.8rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 20px; }

.search {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 0;
  background: #0098d2;
  -webkit-transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out; }
  .search:hover {
    cursor: pointer; }
  .search.active .search-icon {
    width: 29px;
    height: 28px;
    z-index: 10; }
    .search.active .search-icon:before, .search.active .search-icon:after {
      top: 4px;
      right: 10px; }
    .search.active .search-icon:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.search-icon {
  width: 22px;
  height: 22px;
  background: transparent;
  border: 3px solid #fff;
  display: block;
  border-radius: 15px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 17px 19px; }
  .search-icon:before, .search-icon:after {
    width: 3px;
    height: 14px;
    display: block;
    content: '';
    background: #fff;
    position: absolute;
    top: 12px;
    right: -4px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.search:hover > .search-icon:before,
.search:hover > .search-icon:after {
  background: #555;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.search:hover > .search-icon {
  border: 3px solid #555;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

::-webkit-input-placeholder {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: rgba(164, 164, 164, 0.7); }

:-ms-input-placeholder {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: rgba(164, 164, 164, 0.7); }

::-ms-input-placeholder {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: rgba(164, 164, 164, 0.7); }

::placeholder {
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: rgba(164, 164, 164, 0.7); }

.page-template-organismes hr:last-of-type {
  display: none; }

h1 {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 3.8rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 80px; }

.organisation h2, .publication-info h2, .ressources h2, .archives-content .titre-archive {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 2.6rem;
  line-height: 2.8rem;
  font-weight: 700;
  color: #333333; }

.archives-content h4 {
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #333333; }

.post-actus .post-contenu .post-titre {
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 12px; }

.post-img .categorie {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #333333;
  line-height: 2.4rem; }

.top-publication .publication-auteur {
  font-size: 1.8rem;
  font-weight: bold; }

.zone-commentaire {
  font-size: 2rem;
  font-weight: bold; }

.breadcrumb {
  margin-top: 10px;
  color: #333333;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 50px; }

.breadcrumb a:hover {
  color: #26529B;
  text-decoration: underline; }

.breadcrumb-separator {
  margin-left: 10px;
  margin-right: 10px; }

.btn-full.filtrer {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 36px;
  background-color: #0585bc;
  color: #FFF;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 53px;
  padding-right: 34px;
  border-radius: 3px;
  width: 100%; }
  .btn-full.filtrer::before {
    content: "";
    position: absolute;
    background-image: url("../svg/filter.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 12%; }

.btn-full2 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 45px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 36px;
  background-color: #0585bc;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 3px;
  width: 100%; }
  .btn-full2::before {
    position: absolute;
    content: "";
    background-image: url("../svg/reply.svg");
    width: 21px;
    height: 14px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 10%; }

.btn-full3 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 55px;
  padding-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 36px;
  background-color: #0585bc;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 3px;
  width: 100%;
  padding-top: 2px; }
  .btn-full3::before {
    position: absolute;
    content: "";
    background-image: url("../svg/eye.svg");
    width: 26px;
    height: 16.25px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 8%; }

.btn-full4 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 55px;
  padding-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 36px;
  background-color: #0585bc;
  color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 3px;
  width: 100%; }
  .btn-full4::before {
    position: absolute;
    content: "";
    background-image: url("../svg/filter.svg");
    width: 20px;
    height: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 8%; }

.btn-border {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  height: 36px;
  background-color: #FFFFFF;
  color: #2D374D;
  border: 2px solid #0585bc;
  text-transform: uppercase;
  border-radius: 3px;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-border:hover {
    background-color: #0585bc;
    border: 2px solid #0585bc;
    color: #FFFFFF; }

.btn-border2 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 45px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  height: 36px;
  background-color: #FFFFFF;
  color: #2D374D;
  border: 2px solid #0585bc;
  text-transform: uppercase;
  border-radius: 3px;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-border2::before {
    position: absolute;
    content: "";
    background-image: url("../svg/modifier.svg");
    width: 19px;
    height: 19px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 10%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .btn-border2:hover {
    background-color: #0585bc;
    border: 2px solid #0585bc;
    color: #FFFFFF; }
  .btn-border2:hover::before {
    -webkit-filter: brightness(5);
    filter: brightness(5); }

.btn-border3 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 45px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  height: 36px;
  background-color: #0585bc;
  color: #FFFFFF;
  border: 2px solid #0585bc;
  text-transform: uppercase;
  border-radius: 3px;
  width: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .btn-border3::before {
    position: absolute;
    content: "";
    background-image: url("../svg/modifier.svg");
    -webkit-filter: brightness(5);
    filter: brightness(5);
    width: 19px;
    height: 19px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 10%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
  .btn-border3:hover {
    background-color: #FFFFFF;
    border: 2px solid #0585bc;
    color: #2D374D; }
  .btn-border3:hover::before {
    -webkit-filter: brightness();
    filter: brightness(); }

input {
  background-color: #FFFFFF;
  border: 1px solid #0585bc;
  height: 36px;
  width: 100%;
  border-radius: 5px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: #676767;
  padding-left: 20px; }
  input::-webkit-input-placeholder {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: rgba(164, 164, 164, 0.7); }
  input:-ms-input-placeholder {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: rgba(164, 164, 164, 0.7); }
  input::-ms-input-placeholder {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: rgba(164, 164, 164, 0.7); }
  input::placeholder {
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: rgba(164, 164, 164, 0.7); }

.post-actus {
  border: 1px solid rgba(211, 211, 211, 0.6);
  background-color: #F9F9F9;
  color: #333333;
  border-radius: 4px;
  margin-top: 60px;
  padding-top: 15px;
  padding-bottom: 0px;
  -webkit-box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.6);
  box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.6);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .post-actus .post-top {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px; }
    .post-actus .post-top .bassin {
      font-size: 1.8rem;
      font-weight: 500;
      color: #676767;
      text-transform: uppercase;
      margin-left: 10px; }
    .post-actus .post-top .date {
      font-size: 1.5rem;
      font-weight: 500;
      margin-left: auto; }
    .post-actus .post-top .presse {
      margin-left: 10px;
      font-size: 1.8rem;
      font-weight: 500;
      color: #676767;
      text-transform: uppercase; }
  .post-actus .post-contenu {
    min-height: 218px;
    margin-left: 20px;
    margin-right: 20px;
    word-wrap: break-word; }
    .post-actus .post-contenu .separateur {
      position: relative;
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      width: 100%;
      margin-bottom: 15px; }
      .post-actus .post-contenu .separateur::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 15px 0 15px;
        border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
        top: 0px;
        left: 75%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%); }
      .post-actus .post-contenu .separateur::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 15px 0 15px;
        border-color: #F4F6F8 transparent transparent transparent;
        top: -1px;
        left: 75%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%); }
  .post-actus .post-extrait {
    font-size: 1.8rem;
    line-height: 2.3rem; }
  .post-actus:hover {
    -webkit-box-shadow: 4px 4px 15px rgba(190, 190, 190, 0.8);
    box-shadow: 4px 4px 15px rgba(190, 190, 190, 0.8);
    -webkit-transform: translate(-2px, -2px);
    -ms-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }

.post-img {
  position: relative;
  height: 180px;
  width: 100%;
  padding-bottom: 20px;
  border-radius: 0 0 4px 4px; }
  .post-img img {
    width: 104px;
    height: 104px;
    margin-top: 20px; }

.post-vert {
  background-color: rgba(57, 229, 120, 0.8); }

.post-orange {
  background-color: rgba(255, 143, 3, 0.8); }

.post-bleu {
  background-color: rgba(71, 199, 230, 0.8); }

.post-jaune {
  background-color: rgba(255, 210, 71, 0.8); }

.post-violet {
  background-color: rgba(232, 175, 234, 0.8); }

/*----------------pagination----------------*/
ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 70px 0; }
  ul.pagination li {
    display: inline;
    margin-left: 8px;
    margin-right: 8Px; }
    ul.pagination li a {
      color: #333333;
      font-size: 2rem;
      font-weight: 500;
      float: left;
      width: 35px;
      height: 31px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border: 1px solid #0585bc;
      padding-top: 2px;
      border-radius: 3px; }
      ul.pagination li a.active {
        background-color: #0585bc;
        color: white;
        font-size: 20px;
        border: 1px solid #0585bc;
        border-radius: 3px; }
      ul.pagination li a:hover:not(.active):not(.flechenot) {
        background-color: #0585bc;
        color: #FFFFFF; }

.fleche {
  width: 35px;
  height: 30px;
  padding-bottom: 4px; }
  .fleche img {
    width: 60%; }

ul.pagination li:nth-child(1) a,
ul.pagination li:nth-child(7) a {
  border: none; }

/*----------------fonction2----------------*/
.fonction2 {
  margin-bottom: 150px; }
  .fonction2 .btn-full.agenda {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 36px;
    background-color: #0585bc;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 2px;
    border-radius: 3px;
    padding-bottom: 1px;
    width: 100%; }
    .fonction2 .btn-full.agenda::before {
      content: "";
      position: absolute;
      background-image: url("../svg/calendar.svg");
      background-repeat: no-repeat;
      width: 25px;
      height: 23px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: 15%; }

.top-page {
  position: fixed;
  width: 40px;
  bottom: 20px;
  right: 40px; }

.actualites .top-publication {
  margin-bottom: 30px; }

.actus {
  margin-bottom: 60px; }
  .actus .info-actu {
    margin-left: 9rem;
    font-size: 1.6rem;
    line-height: 2.8rem; }
    .actus .info-actu span {
      font-weight: 700; }
  .actus .separateur2 {
    position: absolute;
    border-right: 2px solid rgba(65, 109, 189, 0.8);
    height: 100%;
    width: 1px;
    margin-bottom: 10px;
    margin-left: 40px; }
    .actus .separateur2::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 12px;
      border-color: transparent transparent transparent rgba(65, 109, 189, 0.8);
      top: 25%;
      left: 6px;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%); }
    .actus .separateur2::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 0 15px 12px;
      border-color: transparent transparent transparent #FFFFFF;
      top: 25%;
      left: 4px;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%); }

.tags-publication {
  position: relative;
  margin-left: 20px;
  font-size: 1.6rem;
  color: #26529B;
  margin-bottom: 30px; }
  .tags-publication::before {
    position: absolute;
    content: "";
    background-image: url("../svg/tag3.svg");
    width: 14px;
    height: 14px;
    top: 4px;
    left: -20px; }

.zone-btn1 {
  margin-bottom: 8rem; }

.post-commentaire p {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem; }

.post-commentaire #msg-user {
  width: 100%;
  min-height: 190px;
  background-color: #F9F9F9;
  border: 1px solid rgba(174, 174, 174, 0.6);
  border-radius: 2px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.6rem;
  line-height: 2.5rem;
  resize: none;
  outline: 0; }
  .post-commentaire #msg-user:focus {
    background-color: #FFFFFF; }

#msg-user-submit[type="submit"] {
  display: block;
  left: 50%;
  cursor: pointer;
  width: 30%;
  border: none;
  border-radius: 3px;
  background: #4E82DF;
  color: #FFF;
  font-size: 2rem !important;
  margin: 0 auto;
  padding: 8px;
  margin-bottom: 90px;
  font-size: 15px; }
  #msg-user-submit[type="submit"]:hover {
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }
  #msg-user-submit[type="submit"]:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.commentaire-titre p {
  position: relative;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  font-size: 700;
  margin-bottom: 30px; }
  .commentaire-titre p::after {
    content: "";
    position: absolute;
    background-color: rgba(65, 109, 189, 0.8);
    width: 90px;
    height: 2px;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); }

.zone-commentaire {
  margin-bottom: 20px; }
  .zone-commentaire a {
    color: #676767;
    font-weight: 400; }
  .zone-commentaire .commentaire-date {
    font-size: 1.4rem;
    margin-bottom: 15px; }
  .zone-commentaire p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem; }

hr {
  margin: 0 auto;
  width: 60%;
  border-top: 1px solid rgba(65, 109, 189, 0.8);
  margin-bottom: 50px; }

.zone-btn2 {
  margin-bottom: 50px; }

.retour-actus {
  position: relative;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 1.9rem;
  color: #26529B;
  margin-bottom: 150px; }
  .retour-actus::before {
    position: absolute;
    content: "";
    background-image: url("../svg/fleche precedent.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
    top: 7px;
    left: -25px; }

.top-page {
  position: fixed;
  width: 40px;
  bottom: 20px;
  right: 40px; }

.organisation h2 {
  position: relative;
  margin-left: 25px;
  margin-bottom: 15px; }
  .organisation h2::before {
    position: absolute;
    content: "";
    background-image: url("../svg/puce.svg");
    width: 8px;
    height: 8px;
    top: 48%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: -25px; }

.organisation p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 15px; }

.organisation li {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-left: 20px; }

.organisation hr:last-of-type {
  display: none; }

.top-publication {
  margin-bottom: 20px; }
  .top-publication .publication-titre {
    font-size: 1.8rem;
    color: #26529B; }
  .top-publication .publication-auteur {
    position: relative;
    margin-left: 40px; }
    .top-publication .publication-auteur::before {
      position: absolute;
      content: "";
      background-image: url("../svg/client.svg");
      width: 1.5rem;
      height: 1.5rem;
      top: 5px;
      left: -20px; }
  .top-publication a {
    text-decoration: none;
    color: #676767; }

.publication-info h2 {
  margin-bottom: 15px; }

.publication-info p {
  font-size: 1.6rem;
  line-height: 3rem; }

.publication-info .paraT2 {
  font-size: 1.8rem;
  font-weight: 500; }

.publication-info a {
  color: #CB611A;
  font-weight: 500; }

.bottom-publication {
  margin-bottom: 20px; }

iframe {
  margin-top: 20px;
  margin-bottom: 20px; }

.ressources h2 {
  margin-left: 25px;
  margin-bottom: 15px; }

.ressources ul li a {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-left: 25px;
  color: #CB611A;
  position: relative; }
  .ressources ul li a:before {
    position: absolute;
    content: "";
    background-image: url("../svg/puce.svg");
    width: 8px;
    height: 8px;
    top: 11px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: -25px; }

.all {
  margin-bottom: 50px; }

.ressources li {
  list-style-type: none; }

.alphabet {
  margin-bottom: 35px; }
  .alphabet li a {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    color: #26529B;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s; }
    .alphabet li a:before {
      display: none; }
    .alphabet li a:hover {
      font-size: 2.7rem; }

input {
  margin-bottom: 35px; }

.accordion {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eaeaea), to(#ffffff));
  background: -webkit-linear-gradient(top, #eaeaea 1%, #ffffff 100%);
  background: -o-linear-gradient(top, #eaeaea 1%, #ffffff 100%);
  background: linear-gradient(top, #eaeaea 1%, #ffffff 100%);
  cursor: pointer;
  padding: 20px 35px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none; }
  .accordion:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(78, 130, 223, 0.2)), to(#ffffff));
    background: -webkit-linear-gradient(top, rgba(78, 130, 223, 0.2), #ffffff 100%);
    background: -o-linear-gradient(top, rgba(78, 130, 223, 0.2), #ffffff 100%);
    background: linear-gradient(top, rgba(78, 130, 223, 0.2), #ffffff 100%); }
  .accordion:after {
    content: '';
    position: absolute;
    background-image: url(../svg/croix.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 25px;
    height: 26px;
    right: 35px;
    top: calc(50% - 12px);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }

.accordion.active {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(78, 130, 223, 0.2)), to(#ffffff));
  background: -webkit-linear-gradient(top, rgba(78, 130, 223, 0.2), #ffffff 100%);
  background: -o-linear-gradient(top, rgba(78, 130, 223, 0.2), #ffffff 100%);
  background: linear-gradient(top, rgba(78, 130, 223, 0.2), #ffffff 100%); }
  .accordion.active::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.user-name {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 500;
  color: #26529B; }

.utilisateur-case {
  position: relative;
  border: 1px solid rgba(180, 180, 180, 0.5);
  border-radius: 2px;
  border-radius: 3px;
  margin-bottom: 40px; }
  .utilisateur-case li {
    color: #2D374D;
    list-style-type: none; }

.user-content {
  padding: 0 35px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out; }
  .user-content .user-post {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 25px; }
  .user-content .user-mail,
  .user-content .user-mail2,
  .user-content .user-tel,
  .user-content .user-other-content,
  .user-content .user-publications {
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: #2D374D;
    margin-bottom: 20px; }
    .user-content .user-mail:before,
    .user-content .user-mail2:before,
    .user-content .user-tel:before,
    .user-content .user-other-content:before,
    .user-content .user-publications:before {
      display: none; }
  .user-content .user-mail,
  .user-content .user-mail2 {
    color: #CB611A;
    display: inline-block; }
  .user-content .user-publications {
    color: #CB611A;
    font-weight: 500;
    display: inline-block; }
  .user-content p {
    font-size: 1.7rem;
    line-height: 1.7rem;
    color: #2D374D; }

.utilisateur-case hr {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid rgba(103, 103, 103, 0.5);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s; }

form.col-5 {
  padding: 0; }

.btn-full4 {
  margin-bottom: 50px; }

.structure-name {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  color: #26529B; }

.structure-content {
  position: relative;
  padding: 0 35px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.4s ease-out;
  -o-transition: max-height 0.4s ease-out;
  transition: max-height 0.4s ease-out; }
  .structure-content .vignette {
    position: absolute;
    border: 1px solid rgba(211, 211, 211, 0.6);
    -webkit-box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.6);
    box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.6);
    top: 15px;
    right: 100px; }
  .structure-content .structure-type {
    margin-top: 30px; }
  .structure-content .structure-type,
  .structure-content .structure-activite,
  .structure-content .structure-description,
  .structure-content .structure-nom,
  .structure-content .structure-tel,
  .structure-content .structure-mailT,
  .structure-content .structure-mail,
  .structure-content .structure-siteinternetT,
  .structure-content .structure-siteinternet,
  .structure-content .structure-adresse,
  .structure-content .structure-codepostal,
  .structure-content .structure-ville,
  .structure-content .structure-pays {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 5px; }
    .structure-content .structure-type:before,
    .structure-content .structure-activite:before,
    .structure-content .structure-description:before,
    .structure-content .structure-nom:before,
    .structure-content .structure-tel:before,
    .structure-content .structure-mailT:before,
    .structure-content .structure-mail:before,
    .structure-content .structure-siteinternetT:before,
    .structure-content .structure-siteinternet:before,
    .structure-content .structure-adresse:before,
    .structure-content .structure-codepostal:before,
    .structure-content .structure-ville:before,
    .structure-content .structure-pays:before {
      display: none; }
  .structure-content .structure-mail,
  .structure-content .structure-siteinternet {
    font-weight: 500;
    color: #CB611A;
    display: inline-block;
    margin: 0; }
  .structure-content .structure-pays + p {
    text-transform: uppercase; }
  .structure-content .structure-pays + p {
    margin-bottom: 30px; }
  .structure-content p {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #2D374D;
    margin-bottom: 30px; }
  .structure-content hr {
    width: 50%;
    margin-bottom: 30px; }
  .structure-content .map p {
    font-size: 2rem;
    margin-bottom: 15px; }
  .structure-content .map iframe {
    width: 100%;
    height: 400px;
    margin: 0 0 10px; }
  .structure-content .leaflet-map {
    border-radius: 2px;
    border: 1px solid rgba(211, 211, 211, 0.6);
    -webkit-box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.6);
    box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.6); }
  .structure-content .agrandir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .structure-content a {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #CB611A;
    display: inline-block;
    margin-bottom: 40px; }
    .structure-content a:before {
      display: none; }
  .structure-content .structure-info {
    border: 1px solid rgba(211, 211, 211, 0.6);
    background-color: #F5F5F5;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 40px; }
    .structure-content .structure-info .info-auteur {
      font-size: 1.4rem;
      line-height: 1.4rem;
      margin-bottom: 10px; }
      .structure-content .structure-info .info-auteur span {
        color: #26529B; }
    .structure-content .structure-info .info-date {
      font-size: 1.3rem;
      line-height: 1.3rem;
      margin-bottom: 0px; }

.archives-button {
  position: relative;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #26529B;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  border: none;
  outline: none;
  margin-bottom: 50px;
  cursor: pointer; }
  .archives-button.encours .separa {
    opacity: 1; }
  .archives-button span {
    position: relative; }
  .archives-button.encours span::after {
    content: '';
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    right: 0;
    height: 3px;
    background-color: #26529B; }
  .archives-button.encours::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 15px 0 15px;
    border-color: #26529B transparent transparent transparent;
    top: calc(100% + 5px);
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); }
  .archives-button.encours::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 15px 0 15px;
    border-color: #FFF transparent transparent transparent;
    top: calc(100% + 1px);
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%); }

.archives-content .titre-archive {
  margin-bottom: 20px; }

.archives-content h4 {
  margin-bottom: 20px; }

.archives-content p {
  font-size: 1.8rem;
  line-height: 3rem; }

.archives-content li {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-left: 20px; }

.archives-content .link {
  display: block;
  position: relative;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-left: 25px;
  color: #CB611A; }
  .archives-content .link:before {
    position: absolute;
    content: "";
    background-image: url("../svg/puce.svg");
    width: 8px;
    height: 8px;
    top: 15px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: -25px; }

.member-spel {
  margin-bottom: 35px; }
  .member-spel .spel-structure {
    position: relative;
    color: #26529B;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.9rem;
    text-transform: uppercase;
    margin-left: 25px;
    margin-bottom: 5px; }
    .member-spel .spel-structure::before {
      content: "";
      position: absolute;
      background-image: url("../svg/puce2.svg");
      width: 8px;
      height: 8px;
      top: 5px;
      left: -23px; }
  .member-spel .member-name {
    display: inline;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-right: 15px;
    margin-left: 25px; }
    .member-spel .member-name span {
      font-weight: 500; }
  .member-spel .separateur {
    display: inline;
    margin-right: 15px; }
  .member-spel .member-post {
    display: inline;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem; }
  .member-spel .member-mail a {
    display: block;
    margin-left: 0;
    line-height: 1.8rem;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-bottom: 8px;
    color: #CB611A; }
  .member-spel .member-phone {
    line-height: 1.5rem;
    margin-left: 25px; }

.member-spel:last-of-type {
  margin-bottom: 50px; }

.member-sped {
  margin-bottom: 35px; }
  .member-sped .sped-structure {
    position: relative;
    color: #26529B;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.9rem;
    text-transform: uppercase;
    margin-left: 25px;
    margin-bottom: 5px; }
    .member-sped .sped-structure::before {
      content: "";
      position: absolute;
      background-image: url("../svg/puce2.svg");
      width: 8px;
      height: 8px;
      top: 5px;
      left: -23px; }
  .member-sped .member-name {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-right: 15px;
    margin-left: 25px;
    margin-bottom: 8px; }
    .member-sped .member-name span {
      font-weight: 500; }
  .member-sped .separateur {
    display: inline-block;
    margin-right: 15px; }
  .member-sped .member-post {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem; }
  .member-sped .member-localisation {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 8px; }
  .member-sped .member-mail a {
    display: block;
    margin-left: 0;
    line-height: 1.8rem;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-bottom: 8px;
    color: #CB611A; }
  .member-sped .localisation {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.7rem;
    margin-left: 25px;
    margin-bottom: 8px; }
  .member-sped .member-phone {
    line-height: 1.8rem;
    margin-left: 25px; }

.member-localisation-only {
  margin-left: 25px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 6px; }

.row.archive {
  display: none; }
  .row.archive.affiche {
    display: block; }

.archives-content p {
  margin-bottom: 30px; }

.contact p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 15px; }

.contact .info-formulaire {
  margin-bottom: 40px; }

.contact-tab {
  margin-bottom: 60px;
  background-color: #FBFBFB;
  border: 1px solid rgba(180, 180, 180, 0.5);
  -webkit-box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.5);
  box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.5);
  border-radius: 3px;
  padding: 25px 60px; }
  .contact-tab span {
    text-transform: uppercase;
    font-weight: 500; }
  .contact-tab a {
    color: #CB611A; }
  .contact-tab p {
    font-size: 1.8rem;
    line-height: 3.3rem; }

.formulaire-contact {
  padding: 0; }

#contact {
  background-color: #FBFBFB;
  border: 1px solid rgba(180, 180, 180, 0.5);
  -webkit-box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.5);
  box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.5);
  border-radius: 3px;
  padding: 30px 65px 40px; }
  #contact h3 {
    display: block;
    color: #676767;
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px; }
  #contact fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    width: 100%;
    min-width: 100%;
    padding: 0; }
  #contact label {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #676767; }
  #contact #name,
  #contact #mail,
  #contact #object,
  #contact #msg-contact {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #FFF;
    font-size: 1.8rem;
    margin: 0 0 5px;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 30px; }
    #contact #name:hover,
    #contact #mail:hover,
    #contact #object:hover,
    #contact #msg-contact:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -o-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      -webkit-box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.5);
      box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.5);
      border: 1px solid #aaa; }

#contact #object {
  margin-bottom: 50px; }

#contact #msg-contact {
  height: 280px;
  max-width: 100%;
  resize: none; }

#contact #contact-submit[type="submit"] {
  display: block;
  left: 50%;
  cursor: pointer;
  width: 45%;
  border: none;
  border-radius: 3px;
  background: #0585bc;
  color: #FFF;
  font-size: 2rem !important;
  margin: 0 auto;
  padding: 8px;
  font-size: 20px !important;
  font-weight: 700; }
  #contact #contact-submit[type="submit"]:hover {
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; }
  #contact #contact-submit[type="submit"]:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact .input-contact:focus,
#contact #msg-contact:focus {
  outline: 0;
  border: 1px solid #aaa; }

@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  60%,
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
    display: none; } }

@keyframes hinge {
  0% {
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  20%,
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  40%,
  80% {
    -webkit-transform: rotate3d(0, 0, 1, 60deg);
    transform: rotate3d(0, 0, 1, 60deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  60%,
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 80deg);
    transform: rotate3d(0, 0, 1, 80deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    -webkit-transform: translate3d(0, 700px, 0);
    transform: translate3d(0, 700px, 0);
    opacity: 0;
    display: none; } }

.hinge {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
  -webkit-animation-name: hinge;
  animation-name: hinge; }

.animated {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

#error-container {
  -webkit-animation: backgroundChange 0s 2900ms  forwards;
  animation: backgroundChange 0s 2900ms  forwards;
  font-family: 'Gilda Display', serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: #FFF; }

.errortop {
  margin-top: 10%;
  margin-left: 35%; }
  .errortop span {
    color: #33cc33; }
  .errortop .htm,
  .errortop .styl,
  .errortop .bod {
    color: #f39c12; }
  .errortop .acteuremp {
    color: #33cc33; }
    .errortop .acteuremp span {
      color: #48beef; }
    .errortop .acteuremp span:last-child {
      color: #FFF; }
  .errortop .comment {
    color: #7f8c8d; }

.errortxt {
  font-family: 'Roboto', serif;
  font-weight: 700; }

.htm {
  margin-left: 18px; }

.styl,
.bod {
  margin-left: 30px; }
  .styl + p,
  .bod + p {
    margin-left: 40px; }

.acteuremp {
  margin-left: 55px; }
  .acteuremp + p {
    margin-left: 42px; }

.errortxt {
  margin-left: 60px; }
  .errortxt p:last-child {
    margin-left: 25px; }

.comment {
  margin-top: 8px;
  margin-bottom: 8px;
  letter-spacing: .1rem;
  margin-left: -10px; }
  .comment p:last-child {
    margin-left: 50px; }

.doctyp:before {
  content: 'erreur 404';
  font-family: 'Orbitron', sans-serif;
  font-size: 75px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  -webkit-animation: noise-1 .3s linear infinite;
  animation: noise-1 .3s linear infinite; }

.doctyp:after {
  content: 'erreur 404';
  font-family: 'Orbitron', sans-serif;
  font-size: 75px;
  text-align: center;
  width: 550px;
  margin: auto;
  position: absolute;
  top: -50%;
  bottom: 0;
  left: 0;
  right: 35%;
  opacity: 0;
  color: white;
  -webkit-animation: noise-2 .3s linear infinite;
  animation: noise-2 .3s linear infinite; }

@-webkit-keyframes backgroundChange {
  from {
    background-color: white; }
  to {
    background-color: black; } }

@keyframes backgroundChange {
  from {
    background-color: white; }
  to {
    background-color: black; } }
