.alphabet {
    margin-bottom: 35px;
    li a {
        font-family: Roboto, Arial, Helvetica, sans-serif;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 500;
        color: $txt-auteur;
        margin-left: 5px;
        margin-right: 5px;
        transition: .1s;
        &:before {
            display: none;
        }
        &:hover {
            font-size: 2.7rem;
        }
    }
}

input {
    margin-bottom: 35px;
}
 
.accordion {
    position: relative;
    background: linear-gradient(top, #eaeaea 1%, #ffffff 100%);
    cursor: pointer;
    padding: 20px 35px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    &:hover {
        background: linear-gradient(top, rgba(78, 130, 223, .2), #ffffff 100%);
    }
    &:after{
        content: '';
        position: absolute;
        background-image: url(../svg/croix.svg);
        background-repeat: no-repeat;
        background-position: center center;
        width: 25px;
        height: 26px;
        right: 35px;
        top: calc(50% - 12px);
        transition: .4s
    }
}

.accordion.active{
    background: linear-gradient(top, rgba(78, 130, 223, .2), #ffffff 100%);   
    &::after{
        transform: rotate(45deg);
     }
}

.user-name {
    font-size: 1.9rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: $txt-auteur; 
}

.utilisateur-case {
    position: relative;
    border: 1px solid $tableau;
    border-radius: 2px;
    border-radius: 3px; 
    margin-bottom: 40px;
    li {
        color: $txt;
        list-style-type: none;
    }
}


.user-content {
    padding: 0 35px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    .user-post {
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 500;
        color: $txtblack;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .user-mail,
    .user-mail2,
    .user-tel,
    .user-other-content,
    .user-publications
  {
        font-size: 1.7rem;
        line-height: 1.7rem;
        color: $txt;
        margin-bottom: 20px;
        &:before {
            display: none;
        }
    }
    .user-mail,
    .user-mail2 {
        color: $liens;
        display: inline-block;
     
    }
    .user-publications {
        color: $liens;
        font-weight: 500;
        display: inline-block;
    }
    p {
        font-size: 1.7rem;
        line-height: 1.7rem;
        color: $txt;
    }
}


.utilisateur-case hr {
        width: 100%;
        margin: 0 auto;
        border-top: 1px solid rgba(103, 103, 103, 0.5);
        transition: .2s;
        transition-timing-function: ease-in-out;
        transition-delay: .3s
}
