$post-bleu: rgba(71,199,230,0.8);
$post-jaune: rgba(255,210,71,0.8);
$post-vert: rgba(57,229,120,0.8);
$post-violet: rgba(232,175,234,0.8);
$post-orange: rgba(255,143,3,0.8);
$post-fond: #F4F6F8;
$contact-fond: #FBFBFB;
$border-shaddow: rgba(211,211,211,0.6);
$contact-shaddow: rgba(187,187,187,0.5);
$tableau: rgba(180, 180, 180, .5);
$placeholder: rgba(164,164,164,0.7);
$btn: #4E82DF;
$txtblack: #333333;
$txt: #2D374D;
$gris: #676767;
$black: #000000;
$blanc: #FFFFFF;
$trait: rgba(65, 109, 189, 0.8);
$txt-auteur: #26529B;
$separateur: rgba(0,0,0,0.5); 
$liens: #CB611A;
